table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #73ee87;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #73ee87;
  }
  