# Validation result
![image info](../assets/validation-result.png)