table,td{
    border: 1px solid black;
}
th,td{
    padding: 0 1rem;
}
th{
    background-color: rgb(3, 63, 35);
    color: aliceblue;
}
.innerTable th{
    background-color: beige;
    color: rgb(3, 63, 35);
}
table{
    background-color: beige;
}
.innerTable{
    text-align: center;
}