* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin-top: 60px;
}

table {
    margin: 0 auto;
}

table td,
th,
td {
    padding: 6px 12px;
}

table,
th,
td {
    border: 1px solid #999;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #999;
}