body {
    background-color:white;
  }
  
  h1 {
    color: navy;
    text-align: center;
    margin-left: 20px;
  }
  table{
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
  }
  th{
    background-color:teal;
  }
  