table {
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

th, td {
  border: 2px solid black;
  padding: 7px;
  text-align: left;

}

th {
  background-color: #33860a;
  color: white;
}