
  article{
    background-color: darksalmon;
    width: 100%;
    overflow: auto;
  }

  img{
    width:200px;
    height:200px;
    margin-left: 10px;
    margin-right: 10px;
  }
.tracks{
  background-color: aquamarine;
  margin-right: 10px;
  margin-left: 10px;

}
h2{
  background-color: yellow;
  color: blue;
  margin-left: 10px;
  background-size: auto;
  margin-right: 750px;
  text-align: center;
}
#trackname{
  font-weight: bolder;
}
  #headerdiv{
    margin-left:500px;
  }
  #trackid{
    display:flex;
  }

  #trackli{
    background-color: lightgreen;

    margin-right: 20px;
    padding: 5px;
  }
  #inol{
    display:flex;
    margin-right: 10px;
  }
  #headerid{
    padding-left: 400px;
  }
  .genre-card {
      overflow: auto;
      background-color: lightgray;
      color: rgb(20, 16, 16);
      width:100%
    }

    .genre-card:not(:last-child) {
      margin-bottom: 15px;
    }

    .genre-card > div {

    }

    .genre-card > div > a {
      color: rgb(14, 11, 11);
      font-weight: bold;
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;

    }