body {
  display: contents;
}
.genre-card {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  background-color: purple;
  color: white;
}

.genre-card:not(:last-child) {
  margin-bottom: 15px;
}

.genre-card > div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 100px;
}

.genre-card > div > a {
  color: black;
  font-weight: bolder;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  max-width: 100%;
}

ol::-webkit-scrollbar {
  display: none;
}

.genre-card > .heading {
  text-align: left;
  vertical-align: middle;
}

.genre-card > h2 {
  align-content: center;
  color: green;
}

.tracks {
  padding: 5px;
  color: white;
  letter-spacing: 0.8px;
}

.tracks > .trackname {
  font-size: 13px;
  color: rgb(250, 251, 251);
  text-decoration: none;
}

.artist {
  padding-left: 5px;
  font-size: 12px;
  color: #d0d0d0ba;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}