body {
  font-family: 'Roboto', sans-serif;
}
article {
    background: linear-gradient(-110deg, #edbf36 40%, #fcea45 40%);
    padding: 10px;
    margin: 15px 0px;
  }
  
img {
    border-radius: 20px; }
  
.genre-card {
      border-radius: 10px;
      max-width: 100%;
      overflow: hidden;
      display: flex;
      color: black;
}
  
.genre-card:not(:last-child) {
      margin-bottom: 10px;
}
    
.genre-card > div {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
    
ol {
    border-radius: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
    max-width: 100%;
    font-size: 10px;
}
    
  