body {
  background-color: rgb(17, 15, 15);
}

.genre-card {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgb(255, 255, 255);
  border: rgb(10, 104, 6);
  border-style: solid;
  border-radius: 10px;
  margin: 0px 15px;
}

.genre-card:not(:last-child) {
  margin-bottom: 15px;
}

.genre-card > div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.genre-card > div > a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  max-width: 100%;
}

.genre-card > div > ol > li {
  margin-right: 10px;
}

.genre-card > div > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.genre-card > div > div > ul > li {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
}

li img {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0 auto 10px;
}

.genre-card > div > h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}