body{
    background-color: beige;
}




article{
    margin: 60px 40px; 
}

article > ol {
    display: inline-block;
    width: 80%;
}




div.genre{
    position: relative;
    bottom: 200px;
    display: inline-block;
}

div.genre > img{
    height: 250px;
    width: 250px;
}

div.genre > h2{
    color: white;
    font-family: cursive;
    position:absolute;
    top: 180px;
    left: 60px;
}


/* For genres only radiobutton */
article.genresOnly{
    display: inline-block;
}

article.genresOnly > div.genre{
    bottom: 0px;
}
/* Genres only radiobutton ends */



ol.playlistOL{
    margin: 0;
    padding: 0;   
}

.playlistOL > li{
    list-style-type: none;
    padding: 0;
    margin: 20px;
}


.playlistOL > li > img{
    height: 180px;
    width: 180px;
    display: inline;
}





div.tracksOLWrapper{
    display: inline-block;
}

ol.tracksOL > li{
    list-style-type: none;
    margin: 5px;
}

ol.tracksOL > li > div {
    display: inline-block;
}





span#radioBtnsTitle{
    margin-left: 40px;
}


button#submitFilters{
    margin-left: 40px;
}