body{
    margin: 0;
}
.genre_card{
    background-color:pink;
}

.genre_card > div > ol{
    list-style:circle;
    margin: 0;
    background-color: aquamarine;

}
ol {

    display: flex;
    overflow:scroll;
    max-width: 100%;
  }