body{
    margin: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
    max-width: 100%;
    border-radius: 8px;

}

article {
    background-color: black;
    display: block;
    max-width: 100%;
    color:white;
    font-family: "Helvetica", "Arial", sans-serif;
    border-style: double;
    border-color: #4daf64;
    text-align: center;

}

article > div{
    padding: 10px 20px;
    display: block;
    flex-direction: column;
    overflow: hidden;

}

article > img{
    border-radius: 50%;
}



