ol {
    content: "";
    border-bottom: 5px solid rgb(200, 86, 86);
    width: 60%;
    display: block;
    margin: 0 auto;
}

b1 {
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

p {
    background-color: rgb(128, 117, 117);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

structure {
    border: 2px solid rgb(2, 59, 247);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: rgb(0, 252, 63);
}