ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:not(:last-child) {
    margin-bottom: 20px;
}

design {
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    max-width: 400px;
    background-color: darkgrey;
}

h2 {
    margin: 40px 0;
    font-size: 32px;
}