menuInfo{
    width: 70%;
    padding: 40px;
    margin: 40px auto;
    border: 2px solid green;
}

title {
	display: block;
    font-size: 40px;
    font-weight: bold;
    color: green;
}

category {
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: green;
    margin: 20px 0;
}

originalName {
    display: block;
	color: #333;
	font-size: 30px;
}

price {
    display: block;
    font-style: italic;
    margin-top: 10px;
}

