 article{
  display: flex;
  background-color: rgb(134, 209, 134);
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
 }
 

 img{
  margin: 0.5px;
  padding: 0;
  border: solid rgb(10, 13, 11) 1px;

 }

 ol{
  display: flex ;
  margin: 0;
  padding: 2px;
  overflow: auto;
 }

 .genre-card{
  overflow: hidden;
  background-color: #69c37e;
  color: rgb(15, 13, 13);
 }

 .genre-card > div {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}