name {
  font-weight: bold;
}

* {
  display: block;
  background-color: rgba(28, 57, 243, 0.053);
}

originalName {
  font-size: larger;
  font-weight: bold;
  color: rgb(216, 30, 176);
}

category{
  font-size: x-large;
  font-weight: bolder;
  text-decoration: underline;
  line-height: 2.5;
  color: rgb(145, 49, 178);
  text-transform: uppercase;
  
}

title{
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  line-height: 2;
  color: rgb(15, 31, 176);
  font-family: sans-serif;
}

summary, effectiveDate{
  font-size: x-large;
  text-align: center;
  font-weight: bolder;
}

