body {

  background: rgb(113, 200, 206);
 
  padding: 1%;
}
h2 {
  color: rgb(0, 0, 0);
}


ol {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

}



li {
  margin: 2%;
 

}

li img {

  border-radius: 25%;
}

li img:hover {

  box-shadow: 0 0 10px rgb(255, 255, 255);
}


