body{
    margin:10px;
    border: 3px solid burlywood;
    background-color: lightcyan;
}
ol{
    list-style:inside;
   margin: 2px;
   padding: 10px;
    border: 2px solid brown; 
    display:inline-block; 
  
}

article{
  display:inline-block;
  background-color: lightcyan;
  padding: 0px;
}

ol #tracks{
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
}