.genre-card {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #f8a7f8;
    color: black;
    text-align: center;
  
  }
  
  .genre-card:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .genre-card > div {
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .genre-card > div > a {
    color: white;
    font-weight: bold;
  }
  
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
    max-width: 100%;
    border-radius: 20px;
  }
  
  body {
    margin: 0;
    background-color: black;
}

.playlist {
    flex-basis: 25%;
    display: flex;
}


.tracks {
    text-align: left;
    margin: 10px 10px 10px 30px;
    padding: 0;
}
