.genre-card {
  max-width: 70%;
  overflow: hidden;
  display: grid;
  background-color: #0b18a2;
  color: rgb(255, 255, 255);
}

.genre-card:not(:last-child) {
  margin-bottom: 15px;
}

.genre-card > div {
  padding: 10px 20px;
  display:inline-grid;
  flex-direction: column;
  overflow: hidden;
}

.genre-card > div > a {
  color: white;
  font-weight: bold;
}

ol {
  list-style: none;
  margin: 0;
  padding: 30;
  display: table-caption;
  overflow: auto;
  max-width: 80%;
}
