body{
    margin: 0;
}

#playlist {
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    overflow: auto;
    max-width: 100%;
    border-radius: 8px;

}

#tracks {
    width:450;
    max-width: 100%;
    font-family:  "Arial", sans-serif;
}

a{
    color:#FFFFFF;
}



article {
    background-color: #191414;
    display: block;
    max-width: 100%;
    color:#ffffff;
    font-family: "Arial", sans-serif;
    border-style: solid;
    border-width: 10px;
    border-color: #b91da1;
    text-align: center;

}

article > div{
    padding: 10px 20px;
    display: block;
    flex-direction: column;
    overflow: hidden;

}

article > img{
    border-radius: 70%;
}
