title {
    background-color: antiquewhite;
}

orignalName {
    font: 4em sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

effectiveDate {
    background: #800;

}