.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: max-content;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: black;
  margin-top: 50px;
}

.movie-card img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.movie-card .details {
  padding: 20px;
  background-color:azure;
}

.movie-card h2 {
  margin: 10px 0;
  font-size: 1.5em;
  text-align: center;
  color: azure;
}

.movie-card .details p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  margin: 10px 0;
}
