originalName{
    font-size: medium;
    letter-spacing: 5px;
}
category::after{
    content: "\a";
    white-space: pre;
}
title{
    text-align: center;
    color: aqua;
}
description{
    text-indent: 50px;
    line-height: 0.8;
}
oldName{
    font-family: "Times New Roman", Times, serif;
}