body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #000000e7;
  color: white;
}

.card:not(:last-child) {
  margin-bottom: 5px;
}

.card > div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card > div > a {
  color: white;
  font-weight: bold;
}

h2 {
  text-align: center;
  letter-spacing: 8px;
}

.card .list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  max-width: 100%;
}

.card .list img {
  display: flex;
  min-width: 40px;
  min-width: 40px;
  border-radius: 5px;
}

.main-list > .play-name {
  margin: 10px 0;
  text-align: center;
}

.main-list > .play-name > a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(156, 246, 146, 0.777);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.8px;
}

.main-img {
  text-align: center;
  max-width: 30%;
  max-width: 30%;
  margin: auto;
  display: block;
}

.all-name{
  padding: 5px;
  color: white;
  letter-spacing: 0.8px;
}

.track-name{
 font-size: 13px;
 color: rgb(250, 251, 251);
}

.artist-name{
  font-size: 12px;
  color: #d0d0d0ba;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list > li {
  padding: 5px;
  font-size: 14px;
}

ol::-webkit-scrollbar {
  display: none;
}
